.cate{
    width: 145px;padding: 12px;padding-left: 7px;
}
.head{
    padding: 100px;
}
.maincat{
    top:50px;
}
.mainslide{
    top:50px;
}
.dresses{
    margin-top: 50px;
}
#magntp{
    margin-top: 50px;
}
#index{
    background-color: rgba(152, 191, 33, 0.47);
}